.cover__link {
  margin: 12px 0 92px;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
  text-decoration: none;
  color: white;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0;
  z-index: 1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media all and (max-width: 1200px) {
  .cover__link {
    min-height: 640px;
  }
}

@media all and (max-width: 1023px) {
  .cover__link {
    margin: 18px 0 88px;
    min-height: 480px;
  }
}

@media all and (max-width: 500px) {
  .cover__link {
    margin: 16px 0 64px;
    min-height: 200px;
  }
}

