.intro__list {
  margin: 0 auto 92px calc(50vw - 492px);
  padding: 0;
  list-style: none;
}

@media all and (max-width: 1080px) {
  .intro__list {
    margin-left: 48px;
  }
}

@media all and (max-width: 1023px) {
  .intro__list {
    margin: 0 24px 92px;
  }
}

@media all and (max-width: 767px) {
  .intro__list {
    margin: 0 24px 92px;
  }
}

@media all and (max-width: 425px) {
  .intro__list {
    margin: 0 16px 92px;
  }
}
