.header__logo {
  padding: 0;
  margin: 0;
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media all and (max-width: 425px) {
  .header__logo {
    min-width: 142px;
    min-height: 42px;
    transition: all 0.5s ease;
  }
}
