.lead__image {
  margin: 64px 0 0;
  width: 100%;
}

@media all and (max-width: 1279px) {
  .lead__image {
    margin: 56px 0 0;
  }
}

@media all and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}

@media all and (max-width: 425px) {
  .lead__image {}
}
