.cover__text {
  margin: auto;
  padding: 0;
  z-index: 1;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 280px);
  transition: all 0.5s ease;
  text-align: center;
}

@media all and (max-width: 767px) {
  .cover__text {
    left: calc(50% - 230px);
    top: calc(50% - 100px);
  }
}

@media all and (max-width: 500px) {
  .cover__text {
    left: 5vw;
    top: calc(50% - 33%);
  }
}
