.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 2;
}

@media all and (max-width: 767px) {
  .cover__title {
    max-width: 460px;
    font-size: 55px;
  }
}

@media all and (max-width: 500px) {
  .cover__title {
    max-width: 90vw;
    font-size: 32px;
    line-height: 35px;
  }
}
