.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 767px) {
  .footer__list {
    margin-bottom: 48px;
  }
}

@media all and (max-width: 500px) {
  .footer__list {
    flex-direction: column;
  }
}
