.place {
  margin: 0 auto;
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  box-sizing: border-box;
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media all and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    gap: 48px 28px;
  }
}

@media all and (max-width: 767px) {
  .place {
    grid-template-columns: 100vw;
    max-width: 100%;
    row-gap: 32px;
  }
}
